@import "tailwindcss";

.bg-ga{
    @apply w-48 h-32 bg-blue-500
}

/* Hide scrollbar but keep scrolling functionality */
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
}